.img-avatar-NFT {
  border-radius: 50%;
}

.img-banner {
  width: 600px;
  height: 203.43px;
  border-radius: 0.5rem;
}

.container-Dashcard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 6rem 0;
}
